<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>High Country Life</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>

</head>

<body>

<% include adminHead %>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Business</h1>
      <a href="/admin/business/new">Add Business</a>
      <a href="/admin/businessUpload">upload CSV</a>
      <table id="table" class="table" style="table-layout: fixed;">  
              <thead>  
                  <tr>  
                      <th>Title</th>  
                      <th>image</th> 
                      <th>video</th>  
                      <th>Details</th>
                      <th>Category</th>  
                      <th>priority</th>   
                      <th>phone</th>  
                      <th>website</th>  
                      <th>address</th>
                      <th>action</th>
                  </tr>  
              </thead>  
               <tbody>  
               <% obj.forEach(function (user) { %>
                  <tr>  
                      <td><%= user.title %></td>  
                      <td>
                        <img src="<%= user.image %>">
                      </td>
                      <td>
                        <iframe src="<%= user.video %>"></iframe>
                        
                      </td>  
                      <td><%= user.details %></td>
                      <td><%= user.category %></td>
                      <td><%= user.priority %></td>
                      <td><%= user.phone %></td>
                      <td><%= user.website %></td>
                      <td><%= user.address %></td>
                      <td>
                        <a href="/admin/edit/<%=user.id%>" class="btn btn-primary">edit</a>
                        <a href="/admin/delete/<%=user.id%>?_method=DELETE" class="btn btn-danger">delete</a>
                      </td>
                  </tr>                                   
               <% }) %>
               </tbody>
      </table>
    </div>
  </div>
</div>





</body>
</html>





